*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    color: #fff; 
}

body {
    background-color: rgb(36, 36, 36);
}

nav {
    display: flex;
    justify-content: space-around;  
    align-items: center; 
    margin: 0;
    padding: 0;
    height: 120px;
    width: 100%; 
    background-color: rgba(123,9,10,1);
    color: #fff; 
    top: 50%;
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%; 

}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px; 
    font-weight: bold; 
    font-size: 14px;
}

.nav-links li {
    list-style: none; 
}

.logo {
    text-transform: uppercase; 
    letter-spacing: 3px;
    font-size: 20px; 
}

.webheader{
    text-align: center; 
    margin: 25px;
}

.about {
    text-align: center; 
    font-size: 30px; 
}

body {
    margin: 0; 
}

.about {
    margin: 50px;
    text-align: center; 
    font-size: 20px; 
}

/*
 *  Flex Layout Specifics
*/

main{
    display:flex;
    flex-direction:row;
  }
  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }
  
  /*
   *  General Styles
  */
  body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
  }
  
  li.game{
    padding-left:20px;
  }
  
    li.game.winner{
      font-weight:bold;
    }
    li.game span{
      float:right;
      margin-right:5px;
    }
  
    li.game-top{ border-bottom:1px solid #aaa; }
  
    li.game-spacer{ 
      border-right:1px solid #aaa;
      min-height:40px;
    }
  
    li.game-bottom{ 
      border-top:1px solid #aaa;
    }
