
body{
  display: flex;
  flex-direction: column;
}

.top-regions{
  display: flex;
  flex-direction: row;
}

.bottom-regions{
  display: flex;
  flex-direction: row;
}

.bracket{
  width: 650px;
}

.region{
  display: flex;
  flex-direction: column;
}

.rl{
  display: flex;
  flex-direction: row-reverse;
}

.lr{
  display: flex;
  flex-direction: row;
}

.round{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-left:0px;
  width:14.285714%;
  
}

.round .spacer{ flex-grow:2; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:1; }
.top-regions .region-winner{ flex-grow: 1; border-top: 1px solid black; }
.bottom-regions .region-winner{ flex-grow: 1; border-bottom: 1px solid black; }

.round .game-top{ border-top:1px solid #000; flex-grow: 1; }

.round .game-bottom{ border-bottom:1px solid #000; flex-grow: 1; }
.lr .game-bottom{ 
  border-right:1px solid #000;
}

.rl .game-bottom{ 
  border-left:1px solid #000;
}

.lr .game-top{ 
  border-right:1px solid #000;
}

.rl .game-top{ 
    border-left:1px solid #000;
}

h1{
  text-align: center;
}

b{
  float: right;
}


